body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
    color: #07173D;
}

a {
    text-decoration: none;
    color: #07173D;
}

a:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 500;
}

header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                            /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}

header div {
    flex-grow: 1;
    line-height: 0.9;
}

.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                            /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
}

.selected {
    text-transform: uppercase;
    border-bottom: 2px solid #07173D;
}

                            /* m e n u */

#menu {
    text-align: center;

    margin-bottom: 20px;
}

#menu a {
    display: inline-block;

    width: 215px;

    text-align: center;
    background-color: rgba(36, 51, 84, 0.2);

    /*border-bottom: 2px solid transparent;*/

    padding: 10px;
    margin: 3px 10px;
}

#submenu {
    padding-top: 5px;
}

#submenu a {

    border-right: 1px solid #07173D;

    padding: 5px 0;
    margin: 0;

    width: 190px;

    font-size: smaller;

    background-color: rgba(36, 51, 84, 0.1);
}

#submenu a:last-child {
    border-right: none;
}

                            /* v i e w e r */
                            /* t a b l e */

table {
    color: #07173D;
    border-collapse: collapse;
}

table tr:first-child td {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;

    background-color: #ffffff;
}

table tr {
    border-bottom: 2px solid #07173D;
}

table tr:last-child {
    border-bottom: unset;
}

table td {
    padding: 7px 9px;

    border: 1px solid #07173D;

    font-size: 13px;
    line-height: 1.2;
}

table td:nth-child(2n+1) {
    background-color: rgba(36, 51, 84, 0.05);
}

#pagination {
    text-align: center;
    margin: 15px 0;
}
#pagination a {
    padding: 2px 4px;
    border: 2px solid transparent;
}
#pagination a:hover{
    border: 2px solid rgba(36, 51, 84, 0.2);
    box-shadow: none;
}
#pagination span {
    padding: 2px 4px;
    font-weight: bold;
    font-size: larger;
}

                                /* a d d */
                                /* f o r m */

form input, form textarea {
    display: block;
    padding: 5px 5px;
}

form {
    width: 40%;
    margin: 0 auto;

    display: grid;

    grid-template-rows: repeat(12, 35px);
    grid-row-gap: 8px;
}

form textarea[name='address'] {
    grid-row: 7/9;
}

form textarea[name='comment'] {
    grid-row: 10/12;
}

form input[type='submit'] {
    width: 60%;

    color: #ffffff;
    font-weight: bolder;

    background-color: #07173D;
    border: none;
    justify-self: center;
}
form input[type='submit']:hover {
    cursor: pointer;
    background-color: rgba(7, 23, 61, 0.9);
}

.ok {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #afe954;
}
.error {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #c93a5b;
    font-weight: bolder;
}

                            /* e d i t */

#edit_links {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    background-color: #ffffff;
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#edit_links a, #edit_links div {
    padding: 5px 15px;
    box-sizing: border-box;
    /*background-color: #ffffff;*/
}
a.for_edit {display: block;}
div.editable {font-weight: bolder; border: 1px solid #07173D;}
#edit_links h3 {
    grid-column: 1/3;
    justify-self: center;
    color: #07173D;
}

                            /* d e l e t e */
#del_links {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#del_links h3{
    grid-column: unset;
    justify-self: unset;
    text-align: center;
}
form[name='form_delete'] {
    /*grid-template-rows: 35px;*/
    grid-column: 1/3;
    /*display: grid;*/

    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(auto-fit, 35px);*/
    grid-column-gap: 20px;
    grid-row-gap: 4px;
    /*background-color: #ffffff;*/

    width: 90%;
    /*margin: 0 auto;*/
    margin-bottom: 30px;
}
.choiceBlock {
    position: relative;
    /*padding: 5px 15px;*/
    /*box-sizing: border-box;*/

}
.choiceBlock:active{
    border: 1px solid #07173D;
}

input[type='radio'] {
    display: none;
    /*position: absolute;*/

}
form[name='form_delete'] label {
    display: inline-block;
    padding: 5px 20px;
    box-sizing: border-box;
    width: -webkit-fill-available;
    border: 1px solid transparent;
}
form[name='form_delete'] label:hover{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);;
}
input[type='radio']:checked + label{
    border: 1px solid #07173D;
    font-weight: bolder;
}
input[type='submit'][value='Удалить запись']{
    grid-column: 1/3;
    width: 30%;
}

                            /* F O O T E R */

footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}

@media screen and (max-width: 1295px) {
    main {
        overflow: scroll;
    }

}